* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #d3d0d0;
}

button,
input,
textarea,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

.button__primary {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #174DBA;
  color: #FFFFFF;
  width: 100%;
  display: block;
  padding: 0.875rem 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
.button__primary:hover {
  background-color: #113a8d;
}

.header {
  display: block;
  background: #174DBA;
  padding: 1rem 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.header .logo {
  display: block;
  margin: 0 auto;
  width: 12rem;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
}

.register__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .register__container {
    margin-top: 0;
  }
}
.register__container .register__form {
  background: #FFFFFF;
  padding: 2rem 3rem;
  border-radius: 6px;
}
.register__container .register__form .inputs {
  display: grid;
  gap: 1.2rem;
}
@media screen and (min-width: 768px) {
  .register__container .register__form .inputs {
    grid: 70px/1fr 1fr;
  }
}
.register__container .register__form h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  color: #174DBA;
}
.register__container .register__form .flex__container {
  display: flex;
  flex-direction: column;
}
.register__container .register__form .default__input label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  color: #174DBA;
  margin-bottom: 0.2rem;
}
.register__container .register__form .default__input input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;
  color: #505050;
  padding: 0.5rem 1rem;
  border: 1px solid #174DBA;
  border-radius: 5px;
}
.register__container .register__form .default__input input:focus {
  outline: 1px solid #113a8d;
}
.register__container .register__form .rule {
  margin-top: 0.3rem;
  font-size: 0.875rem;
  color: #d3d0d0;
}
.register__container .register__form .button {
  display: block;
  margin: 2.5rem auto 1rem auto;
}
@media screen and (min-width: 768px) {
  .register__container .register__form .button {
    width: 50%;
  }
}
.register__container .register__form .to__login {
  text-align: center;
  margin-top: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;
  color: #505050;
}
.register__container .register__form .to__login a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  color: #174DBA;
  text-decoration: none;
}
.register__container .register__form select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;
  color: #505050;
  padding: 0.5rem 1rem;
  border: 1px solid #174DBA;
  border-radius: 5px;
}
.register__container .register__form select:focus {
  outline: 1px solid #113a8d;
}
.register__container .register__form .radios {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 2.5rem;
}/*# sourceMappingURL=styles.css.map */