// Import main styles
@import "../../styles/main";

h1 {
  margin-top: 7rem;

  @include title-md;

  @media screen and (min-width: 768px) {
    @include title-lg;
    margin-top: 7rem;
  }
}

.content {
  display: none;
}

.user__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  padding: 2rem 0 3rem 0;

  .user__card {
    background-color: $white;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    position: relative;

    width: 380px;

    .avatar {
      width: 6rem;
      height: 6rem;

      border-radius: 50%;

      margin-bottom: 0.875rem;
    }

    .user__name {
      font-size: 1.2rem;
      color: $primary;
      margin-bottom: 1rem;
    }

    .user__mail {
      @include content-dark-md;
    }

    .user__btn {
      border: none;
      outline: none;

      background: none;

      display: block;
      height: 0;

      width: 1.725rem;

      position: absolute;

      top: 1rem;
      right: 1rem;

      cursor: pointer;
    }
  }
}

.view {
  margin-bottom: 2rem;

  text-align: end;
  @include content-dark-md
}

.loader__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .lds__roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds__roller div {
    animation: lds__roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }

  .lds__roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary;
    margin: -4px 0 0 -4px;
  }

  .lds__roller div:nth-child(1) {
    animation-delay: -0.036s;
  }

  .lds__roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }

  .lds__roller div:nth-child(2) {
    animation-delay: -0.072s;
  }

  .lds__roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }

  .lds__roller div:nth-child(3) {
    animation-delay: -0.108s;
  }

  .lds__roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }

  .lds__roller div:nth-child(4) {
    animation-delay: -0.144s;
  }

  .lds__roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }

  .lds__roller div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .lds__roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }

  .lds__roller div:nth-child(6) {
    animation-delay: -0.216s;
  }

  .lds__roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }

  .lds__roller div:nth-child(7) {
    animation-delay: -0.252s;
  }

  .lds__roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }

  .lds__roller div:nth-child(8) {
    animation-delay: -0.288s;
  }

  .lds__roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }

  @keyframes lds__roller {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}