// Colors:
$primary: #174DBA;
$gray: #EFF0F3;
$white: #FFFFFF;
$dark: #505050;

// Fonts:
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin title-lg {
  font-family: $helvetica;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;

  color: $primary;
}

@mixin title-md {
  font-family: $helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;

  color: $primary;
}

@mixin content-gray-lg {
  font-family: $helvetica;
  font-size: 1.375rem;
  font-weight: medium;
  line-height: 1.4;

  color: $gray;
}

@mixin content-primary-md {
  font-family: $helvetica;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;

  color: $primary;
}

@mixin content-gray-md {
  font-family: $helvetica;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.4;

  color: $gray;
}

// Reset:
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


// Defaults:
button,
input,
textarea,
body {
  font-family: $helvetica;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.button__primary {
  outline: none;
  border: none;
  border-radius: 5px;

  background-color: $primary;
  color: $gray;

  width: 100%;
  display: block;
  padding: 0.875rem 0;

  font-size: 1rem;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;

  cursor: pointer;

  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: darken($primary, 10%);
  }
}